<div id="profile" ng-click="toggleDropdown($event, 1)">
  <nav>
    <h1 ng-click="goHome($event)">
      Xpense Tracker
    </h1>

    <div id="logout">
      <div id="username" ng-model="user" ng-click="toggleDropdown($event)">
        <i class="material-icons">&#xE851;</i>
        {{ user }}
      </div>

      <div id="dropdownList" ng-model="userDropdown" ng-style="userDropdown">
        <p ng-click="showProfile($event)">My Profile</p>
        <p ng-click="resetPwd($event)">Reset Password</p>
        <p ng-click="signOut($event)">Sign Out</p>
      </div>
    </div>
  </nav>

  <form ng-class="formEditClass">
    <span ng-click="closeProfile()" class="material-icons">
      &#xE5CD;
    </span>

    <fieldset>
      <legend>My Profile</legend>

      <p id="err" ng-show="profileErr">
        {{profileErr}}
      </p>

      <label>
        <span>First Name:</span>
        <div>
          <input type="text" ng-model="profile['firstName']" ng-readonly="readOnly" ng-class="readOnlyClass">
          <i class="material-icons" ng-show="err['firstName']">&#xE002;</i>
        </div>
      </label>

      <label>
        <span>Last Name:</span>
        <div>
          <input type="text" ng-model="profile['lastName']" ng-readonly="readOnly" ng-class="readOnlyClass">
          <i class="material-icons" ng-show="err['lastName']">&#xE002;</i>
        </div>
      </label>

      <label>
        <span>Email:</span>
        <div>
          <input type="text" ng-model="profile['email']" ng-readonly="readOnly" ng-class="readOnlyClass">
          <i class="material-icons" ng-show="err['email']">&#xE002;</i>
        </div>
      </label>

      <label>
        <span>User Name:</span>
        <div>
          <input type="text" ng-model="profile['userName']" ng-readonly="readOnly" ng-class="readOnlyClass">
          <i class="material-icons" ng-show="err['userName']">&#xE002;</i>
        </div>
      </label>
    </fieldset>

    <p ng-show="toggleEditSave" ng-click="editProfile()">
      <i class="material-icons">&#xE3C9;</i>
      Edit
    </p>

    <p ng-hide="toggleEditSave" ng-click="saveProfile()">
      <i class="material-icons">&#xE161;</i>
      Save
    </p>
  </form>
</div>
