<div id="pwdreset" ng-click="toggleDropdown($event, 1)">
  <nav>
    <h1 ng-click="goHome($event)">
      Xpense Tracker
    </h1>

    <div id="logout">
      <div id="username" ng-model="user" ng-click="toggleDropdown($event)">
        <i class="material-icons">&#xE851;</i>
        {{ user }}
      </div>

      <div id="dropdownList" ng-model="userDropdown" ng-style="userDropdown">
        <p ng-click="showProfile($event)">My Profile</p>
        <p ng-click="resetPwd($event)">Reset Password</p>
        <p ng-click="signOut($event)">Sign Out</p>
      </div>
    </div>
  </nav>

  <form class="formedit">
    <span ng-click="closeResetPwd()" class="material-icons">
      &#xE5CD;
    </span>

    <fieldset>
      <legend>
        Reset Password
      </legend>

      <p id="err" ng-show="resetErr">
        {{resetErr}}
      </p>

      <label>
        <span>Current Password:</span>
        <div>
          <input type="password" ng-model="reset['curPwd']">
          <i class="material-icons" ng-show="err['curPwd']">&#xE002;</i>
        </div>
      </label>

      <label>
        <span>New Password:</span>
        <div>
          <input type="password" ng-model="reset['newPwd']">
          <i class="material-icons" ng-show="err['newPwd']">&#xE002;</i>
        </div>
      </label>

      <label>
        <span>Confirm New Password:</span>
        <div>
          <input type="password" ng-model="reset['cnewPwd']">
          <i class="material-icons" ng-show="err['cnewPwd']">&#xE002;</i>
        </div>
      </label>
    </fieldset>

    <p ng-click="resetPassword()">
      <i class="material-icons">&#xE161;</i>
      Reset
    </p>
  </form>
</div>
