<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <base href="/"> -->

    <title>XT</title>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="../static/css/xt.css">
  </head>
  <body>
    <div id="expenses" ng-click="toggleDropdown()">
      <nav>
        <h1>Xpense Tracker</h1>
        <div id="logout">
          <div id="username" ng-click="toggleDropdown()"><i class="material-icons">&#xE851;</i>{{userName}}</div>
          <div id="dropdownList">
            <p>My Profile</p>
            <p>Reset Password</p>
            <p>Sign Out</p>
          </div>
        </div>
      </nav>
      <div id="expenseSheet">
        <div id="entryForm">
          <h2>{{ sheetName }}</h2>
          <h3><span class="material-icons" ng-click="toggleForm()">&#xE146;</span>Add New Expense</h3>
          <form ng-style="displayForm">
            <span ng-click="hideForm()">X</span>
            <span>{{ errMsg }}</span>
            <div>
              <label><span>Date<i class="material-icons">&#xE000;</i></span><input type="date" ng-model="date" tabindex="1"></label>
              <label><span>Category</span><input type="" list="catList" ng-model="category" tabindex="2"></label>
              <datalist id="catList">
                <option value="Car"></option>
                <option value="Cinema"></option>
                <option value="Home"></option>
                <option value="Office"></option>
                <option value="Others"></option>
                <option value="Travel"></option>
                <option value="VnS"></option>
              </datalist>
              <label><span>Sub-Category</span><input type="" list="subcatList" ng-model="subcategory" tabindex="3"></label>
              <datalist id="subcatList">
                <option value="Car"></option>
                <option value="Cinema"></option>
                <option value="Home"></option>
                <option value="Office"></option>
                <option value="Others"></option>
                <option value="Travel"></option>
                <option value="VnS"></option>
              </datalist>
              <label><span>Amount</span><input type="text" ng-model="amount" tabindex="4"></label>
              <label><span>Mode of Payment</span><input type="text" list="modeList" ng-model="mode" tabindex="5"></label>
              <datalist id="modeList">
                <option value="Card"></option>
                <option value="Cash"></option>
              </datalist>
              <label><span>Card Type</span><input type="text" ng-model="cardtype" tabindex="6"></label>
              <label><span>Notes</span><textarea ng-model="notes" tabindex="7">{{ notes }}</textarea></label>
            </div>
            <p ng-click="enterExpense()" tabindex="8"><i class="material-icons">&#xE161;</i>Save</p>
          </form>
        </div>
        <div id="sheet">
          <div id="list">
            <div id="year">
              <select>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
              </select>
            </div>
            <div id="tab">
              <ul>
                <li>Jan</li>
                <li>Feb</li>
                <li class="current">Mar</li>
                <li>Apr</li>
                <li>May</li>
                <li>Jun</li>
                <li>Jul</li>
                <li>Aug</li>
                <li>Sep</li>
                <li>Oct</li>
                <li>Nov</li>
                <li>Dec</li>
              </ul>
            </div>
            <div id="table">
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Sub Category</th>
                    <th>Amount</th>
                    <th>Mode of Payment</th>
                    <th>Card Type</th>
                    <th>Notes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span class="material-icons">&#xE872;</span><span class="material-icons">&#xE3C9;</span></td>
                    <td>28-Mar-2017</td>
                    <td>Home</td>
                    <td>Groceries</td>
                    <td>107</td>
                    <td>Cash</td>
                    <td></td>
                    <td>Met Mkt and QFC</td>
                  </tr>
                  <tr>
                    <td><span class="material-icons">&#xE872;</span><span class="material-icons">&#xE3C9;</span></td>                    <td>28-Mar-2017</td>
                    <td>Home</td>
                    <td>Groceries</td>
                    <td>107</td>
                    <td>Cash</td>
                    <td></td>
                    <td>Met Mkt and QFC</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="summary">
            <table>
              <thead>
                <tr>
                  <th colspan=2>{{ curMon }} Summary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>IN</th>
                  <td>222</td>
                </tr>
                <tr>
                  <th>OUT</th>
                  <td>333</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Cash Flow</th>
                  <td>111</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
