<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <base href="/"> -->

    <title>XT</title>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="../static/css/xt.css">
  </head>
  <body>
    <div id="pwdreset" ng-click="toggleDropdown()">
      <nav>
        <h1>
          Xpense Tracker
        </h1>

        <div id="logout">
          <div id="username" ng-click="toggleDropdown()"><i class="material-icons">&#xE851;</i>{{userName}}</div>
          <div id="dropdownList">
            <p>My Profile</p>
            <p>Reset Password</p>
            <p>Sign Out</p>
          </div>
        </div>
      </nav>
      <form class="formedit">
        <span ng-click="closeResetPwd()" class="material-icons">
          &#xE5CD;
        </span>

        <fieldset>
          <legend>
            Reset Password
          </legend>

          <p id="err" ng-show="resetErr">
            {{resetErr}}
          </p>

          <label>
            <span>Current Password:</span>
            <div>
              <input type="password" ng-model="resetPwd['curPwd']">
              <i class="material-icons" ng-show="err['curPwd']">&#xE002;</i>
            </div>
          </label>

          <label>
            <span>New Password:</span>
            <div>
              <input type="password" ng-model="resetPwd['newPwd']">
              <i class="material-icons" ng-show="err['newPwd']">&#xE002;</i>
            </div>
          </label>

          <label>
            <span>Confirm New Password:</span>
            <div>
              <input type="password" ng-model="resetPwd['cnewPwd']">
              <i class="material-icons" ng-show="err['cnewPwd']">&#xE002;</i>
            </div>
          </label>
        </fieldset>

        <p ng-click="updatePassword()">
          <i class="material-icons">&#xE161;</i>
          Reset
        </p>
      </form>
    </div>
  </body>
</html>
