<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <base href="/"> -->

    <title>XT</title>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="../static/css/xt.css">
  </head>
  <body>
    <div id="profile" ng-click="toggleDropdown(1)">
      <nav>
        <h1>Xpense Tracker</h1>
        <div id="logout">
          <div id="username" ng-click="toggleDropdown()"><i class="material-icons">&#xE851;</i>{{userName}}</div>
          <div id="dropdownList" ng-style="userDropdown">
            <p ng-click="showProfile()">My Profile</p>
            <p ng-click="resetPwd()">Reset Password</p>
            <p ng-click="signOut()">Sign Out</p>
          </div>
        </div>
      </nav>
      <form>
        <span ng-click="closeProfile()">X</span>
        <p id="err" ng-show="profileErr">{{profileErr}}</p>
        <fieldset>
          <legend>{{userName}}: Profile Info</legend>
          <label><span>First Name:</span> <input type="text" ng-model='firstName' ng-readonly="canEdit" ng-style="showBorder"></label>
          <label><span>Last Name:</span> <input type="text" ng-model='lastName' ng-readonly="canEdit" ng-style="showBorder"></label>
          <label><span>Email:</span> <input type="text" ng-model='email' ng-readonly="canEdit" ng-style="showBorder"></label>
          <label><span>User Name:</span> <input type="text" ng-model='userName' ng-readonly="canEdit" ng-style="showBorder"></label>
        </fieldset>
        <p ng-show="toggleEditSave" ng-click="editProfile()"><i class="material-icons">&#xE3C9;</i>Edit</p>
        <p ng-hide="toggleEditSave" ng-click="saveProfile()"><i class="material-icons">&#xE161;</i>Save</p>
      </form>
    </div>
  </body>
</html>
